<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"> </script>
    <title>{% block title %}{% endblock %} | Tadam Framework</title>
</head>
<body>
    <header>
        <a href="/">
            <img alt="brand" src="/img/tadam.svg">
        </a>
        <nav>
            <ul>
                <li><a href="/">Welcome</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        2020 Tadam Framework
    </footer>
</body>
</html>
